@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(8, 49, 61);
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.container h1{
    font-size: 50px;
}

section button {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    margin-top: 10px;    
}

section button:hover {
    background-color: var(--primary-color-darker);
}

.relogio {
    font-size: 3em;
}

.pausado {
    color: red;
}